b {
  color: orange;
}

br {
  content: "";
  margin: 2em;
  display: block;
  font-size: 24%;
}

calcite-tab,
calcite-tabs {
  --calcite-color-border-3: #555555;
  --calcite-color-border-2: #555555;
  --calcite-color-border-1: #555555;
}

calcite-action-bar {
  --calcite-color-border-3: #555555;
  --calcite-color-text-3: #bfbfbf;
}

calcite-shell {
  --calcite-color-foreground-1: #2b2b2b;
  --calcite-color-text-1: #ffffff;
  --calcite-color-background: #2b2b2b;
  --calcite-color-border-3: #555555;
}

calcite-shell-panel {
  --calcite-color-foreground-1: #2b2b2b;
  --calcite-color-foreground-2: #2b2b2b;
  --calcite-color-border-3: #555555;
}

calcite-panel {
  overflow-y: auto;
  --calcite-color-foreground-1: #2b2b2b;
  --calcite-color-foreground-2: #2b2b2b;
  --calcite-color-text-2: #ffffff;
  background-color: #2b2b2b;
  --calcite-color-border-3: #555555;
}

calcite-list {
  overflow-y: auto;
  --calcite-color-border-3: #555555;
}

calcite-label {
  --calcite-color-text-1: #9ca3af;
  --calcite-font-size--1: 1.5rem;
  /* margin-top: 1vh; */
  margin-left: 15px;
  margin-top: 20px;
}

#layers-container {
  overflow-y: auto;
}

.calcitePanelBasemaps {
  display: grid;
  width: 100%;
  height: 100%;
}

.esri-legend__layer-caption {
  display: none;
}

.calcite-tutorial {
  --calcite-color-brand: #039851;
  --calcite-color-brand-hover: #008d52;
}

.calcite-tutorial calcite-chip {
  --calcite-color-foreground-2: var(--calcite-color-brand);
  --calcite-color-text-1: white;
  margin-inline-end: 0.75rem;
}

/* Utility Chart Panel */
.lotNumberImage {
  display: flex;
  padding-left: 20px;
}

/* Header */

.dropdownFilter {
  height: 50px;
  width: 70%;
  border-color: rgb(0, 0, 0, 0);
  padding-top: 10px;
  margin-left: -10rem;
  margin: auto;
}

.dropdownFilterLayout {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  color: black;
  justify-content: right;
}

/* total Progress */

.totalProgressDiv {
  display: flex;
  padding-left: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.totalProgressLabel {
  color: white;
  font-size: 1.5vw;
  padding-bottom: 0.3vh;
  padding-top: 0.6vh;
}

.totalProgressNumber {
  color: #d1d5db;
  font-size: 3.3vw;
  font-weight: bold;
  font-family: "calibri";
  margin-left: 25px;
}

.totalProgressNumber2 {
  color: white;
  font-size: 1vw;
  font-weight: normal;
  padding-top: 0.5vh;
  margin-left: 10px;
}

#utilityNumberDiv {
  width: 50%;
  height: 10%;
  padding-top: 2%;
  padding-left: 15px;
  font-size: 1vw;
  color: #f7f5f7;
}

#utilityNumberDiv b {
  font-size: 2.5vw;
  font-family: "Calibri";
  font-weight: bold;
  color: #6ede00;
  /*#d4ff33;*/
  margin: auto;
}

/* Information panel */
.informationDiv {
  padding-right: 10px;
}
